stub_resolver_ip: "${stub_resolver_ip}"
recursive_resolver_ip: "${recursive_resolver_ip}"
root_ip: "${root_ip}"
top_level_domain_ip: "${top_level_domain_ip}"
authoritative_a_ip: "${authoritative_a_ip}"
authoritative_b_ip: "${authoritative_b_ip}"
www_a_ip: "${www_a_ip}"
www_b_ip: "${www_b_ip}"