---
tf__su_cidr: "${su_cidr}"

tf__elko_ip: "${elko_ip}"
tf__root_ip: "${root_ip}"
tf__tldd_ip: "${tldd_ip}"
tf__au_a_ip: "${au_a_ip}"
tf__au_b_ip: "${au_b_ip}"
tf__recr_ip: "${recr_ip}"
tf__stub_ip: "${stub_ip}"